body {
    background-color: lightblue;
    font-family: 'Open Sans', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#sgManagement .textbox {
    background: none;
    border: none;
    border-bottom: 2px solid #FF8C77;
    color: #FF8C77;
    /*margin-bottom: 3px;*/
}