/*
http://paletton.com/#uid=13p0u0k8fSD0d+Z3XYycEJAh2xY
*/

/* core css */
body {
    background-color: lightblue;    /*#ADD8E6*/
    font-family: 'Open Sans', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    color: #5190A5;
}

.yellowBack { background-color: #FFECBD; }
.pinkBack { background-color: #FFC8BD; }

.content,
#content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid black;*/
    font-size: 1.2em;
}

/* font weights */
.light  { font-weight: 300; }
.medium { font-weight: 400; }
.chubby { font-weight: 600; }
.heavy  { font-weight: 700; }
.omoi   { font-weight: 800; }

/* font sizes */
.tiny   { font-size: 0.5em; }
.small  { font-size: 0.8em; }
.big    { font-size: 1.3em; }
.ooki   { font-size: 1.7em; }
.CGL   { font-size: 2.5em; }
.TTGL   { font-size: 4em; }

/* font style */
.italic { font-style: italic; }
.emph { font-style: italic; color: #5190A5; font-weight: 600; font-size: 1.1em; }

/* built in h */
h1 { font-weight: 300; font-size: 4em; margin: 0px; padding-left: 2%; }
h2 { font-weight: 300; font-size: 2em; margin: 0px; }

/* admin page */
.admin > #content {
    width: 1140px;
}

.admin .sgBox {
    min-height: 350px;
    background-color: #FFE4E0;
    box-shadow:0px 0px 0px 3px #FFFEFD inset;
    border-radius: 10px 10px;
}

.leaderTag,
.memberTag {
    display: inline-block;
    padding: 3px 6px;
    margin: 3px;
    min-width: 27%;
}

.memberTag { background-color: #FFF6E0; }
.leaderTag { background-color: #DAF0F8; }

.leaderTag:after,
.memberTag:after {
    content: attr(data-fname);
}

.leaderTag:hover:after,
.memberTag:hover:after {
    content: attr(data-name);
}

.sgAvatar {
    min-height: 80px;
}

/* welcome page */
.oakBlock {
    display: block;
}

.oakBlock.speech {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 2%;
    max-width: 600px;
    position: relative;
}

.oakBlock.speech:after {
    content: "";
    position: absolute;
    right: -30px;
    top: 50px;
    border: 15px solid transparent;
    border-left-color: #fff;
    display: block;
    width: 0;
}

#oaksLab {
    padding-top: 15vh;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

#oak {
    display: block;
    width: 188px;
    height: 342px;
    background: url(/images/oak.png) no-repeat right bottom;
    margin: 30px;
    float: right;
}

.welcome .container {
    padding-top: 15vh;
}

.welcome {
    overflow-x: hidden;
}

.welcome::-webkit-scrollbar { 
    display: none; 
}

#welcome .line,
#introduce_yourself .line ,
#choose_your_smallgroup .line ,
#all_done .line {
    margin: 1% 2%;
    max-width: 550px;
}

#choose_your_smallgroup .confinedSpace {
    height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#choose_your_smallgroup .confinedSpace::-webkit-scrollbar {
    width: 10px;
}

#choose_your_smallgroup .confinedSpace::-webkit-scrollbar-thumb {
    background: #FFE4E0;
}

#choose_your_smallgroup .confinedSpace::-webkit-scrollbar-track {
    background: #FFFFFF;
}

.welcome .sgBox {
    background-color: #FFE4E0;
    box-shadow:0px 0px 0px 3px #ADD8E6 inset;
    border-radius: 10px 10px;
    cursor: pointer;
    display: block;
    width: inherit;
    max-width: 100%;
}

.welcome .sgAvatar {
    min-height: 60px;
}

.welcome .sgBox.chosen {
    background-color: #FFECBD;
    border-width: 5px;
    box-shadow: 0px 0px 0px 3px #84DAA1 inset;
}

.welcome .action {
    margin-top: 30px;
}

.backFill {
    height: 100vh;
    width: 100vw;
}

.backFill::-webkit-scrollbar { 
    display: none; 
}

/* small group */

.smallGroup #content {
    /*padding-top: 15vh;*/
}

.smallGroup .left {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.smallGroup .right {
    width: 75%;
    display: inline-block;
    vertical-align: top;
}

/*.smallGroup #memberList .leader,
.smallGroup #memberList .member,
.smallGroup #memberList .applicant {
    height: 35px;
}*/

.smallGroup #memberList .leader > span,
.smallGroup #memberList .member > span,
.smallGroup #memberList .applicant > span {
    text-overflow: ellipsis;
    vertical-align: middle;
    overflow: hidden;
}

.smallGroup #memberList .leader:before,
.smallGroup #memberList .member:before,
.smallGroup #memberList .applicant:before {
    content: "";
    width: 25px;
    height: 25px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.smallGroup #memberList .leader:before {
    background-color: red;
}

.smallGroup #memberList .member:before {
    background-color: blue;
}

.smallGroup #memberList .applicant:before {
    background-color: yellow;
}



/* general css */

button.action {
    margin-top: 10px;
    border: none;
    color: #fff;
    background-color: #7EB8CB;
    border-color: #5190A5;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

button.action:hover {
    color: #FFFFFF;
    background-color: #5190A5;
    border-color: #7EB8CB;
}

button.action span {
    font-size: 24px;
    vertical-align: top;
}

.textbox {
    font-size: 0.9em;
    background: none;
    border: none;
    border-bottom: 2px solid #5190A5;
    color: #5190A5;
    max-width: 100%;
}

.pokeball {
    height: 24px;
    width: 24px;
    display: inline-block;
    text-indent: -9999px;
    background: url(/images/pokemon/poke-ball.svg);
    background-size: 24px 24px;
}

.sgBox {
    vertical-align: top;
    width: 27%;
    max-width: 27%;
    display: inline-block;
    padding: 1.5%;
    margin: 1.5%;
}

.sgBox .line {
    width: 95%;
    margin: 5px;
}

.sprite-wrapper {
    width: 80px;
    padding-right: 5px;
    display: inline-block;
}

.sgAvatar img {
    display: block;
    width: auto;
    margin: auto;
}

.sgAvatar span {
    max-width: 70%;
    display: inline-block;
}

/* lost page 404 */
.lost {
    background-color: #000000;
}

.lost #content {
    padding-top: 15vh;
}

.lost h1 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}

.lost img {
    display: block;
    margin: auto;
}

/* hey there */
.heyThere #content {
    padding-top: 15vh;
}

.heyThere .line {
    padding-left: 2%;
}

/* let me in */
.letmein #content {
    padding-top: 15vh;
}

.letmein img {
    display: block;
    margin: auto;
}

.letmein h1, 
.letmein .line {
    text-align: center;
}

/* Half Screen */
@media (min-width: 600px) and (max-width: 992px ) {
    body {
        /*background-color: blue;*/
    }

    .content,
    .admin > #content,
    #content {
        width: 95%;
    }

    .sgBox {
        width: 42%;
        max-width: 42%;
    }

    .leaderTag,
    .memberTag {
        min-width: 40%;
    }

    .oakBlock {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .oakBlock.speech {
        background-color: white;
        border-radius: 10px;
    }

    .oakBlock.speech:after {
        content: "";
        position: absolute;
        bottom: -60px;
        top: auto;
        right: 15vw;
        border-width: 60px 0px 0 100px;
        border-style: solid;
        border-color: #fff transparent;
        display: block;
        width: 0;
    }

    #oaksLab {
        bottom: 0vh;
        left: auto;
        right: 0vw;
        max-width: 50vw;
    	margin: 0px;
        padding-top: 0px;
        z-index: 99;
    }

    #oak {
        display: block;
        top: auto;
        background: url(/images/oakHead2.png) no-repeat bottom right;
        height: 197px;
        width: 216px;
        margin-bottom: 0px;
        float:right;
    }
}

/* Phone */
@media (max-width : 800px) and (-webkit-min-device-pixel-ratio : 1.5), (max-width: 600px ) {
    body {
        /*background-color: lightblue;*/
    }

    .content,
    .admin > #content,
    #content {
        width: 90%;
        /*font-size: 1.5em;*/
    }

    h1 { 
        font-size: 2em;
        font-weight: 400;
    }

    .sgBox {
        width: 90%;
        max-width: 90%;
        display: block;
    }

    .admin .sgBox {
        margin-bottom: 5%;
    }
    .welcome .textbox {
        font-size: 0.7em;
        height: 60px;
        width: 100%;
    }

    #welcome h1 {
        font-size: 4em;
    }

    .oakBlock {
        display: block;
    }

    .oakBlock.speech {
        background-color: white;
        border-radius: 10px;
    }

    .oakBlock.speech:after {
        content: "";
        position: absolute;
        bottom: -40px;
        top: auto;
        right: 15vw;
        border-width: 40px 40px 0 40px;
        border-style: solid;
        border-color: #fff transparent;
        display: block;
        width: 0;
    }

    #oaksLab {
        bottom: 0vh;
    }

    #oak {
        display: block;
        top: auto;
        background: url(/images/oakHead2.png) no-repeat bottom right;
        background-size: 30vh;
        height: 30vh;
        width: 100%;
        margin-bottom: 0px;
        float:right;
    }

    #welcome .line,
    #introduce_yourself .line ,
    #choose_your_smallgroup .line {
        max-width: 700px;
    }

    .lost h1 { font-size: 4em; }
    .lost img { width: 80%; }
}

@media (max-height : 800px) {
	body {
		/*background-color: red;*/
		font-size: 0.6em;
	}

	.welcome .container {
	    padding-top: 15px;
	}

	.welcome .textbox {
        height: 40px;
        font-size: 0.9em;
    }

    .welcome .action {
	    margin-top: 10px;
	}

    #oaksLab {
        padding-top: 15px;
    }
}

/* override classes */
.disabled {
    display:none;
}

/* random extra stuff */
.heart {
    color: red;
}

/* material icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* test */

.timeInput {
    margin-top: 15vh;
}

.timeInput input:hover {
    cursor: text;
}

.timeInput input {
    display: block;
    background: none;
    width: 500px;
    height: 50px;
    font-size: 1.1em;
    border: none;
    padding: 0px;
}

.timeInput select {
    z-index: 2;
    display: none;
}

.dateInput input {
    display: inline-block;
    background: none;
    width: 200px;
    height: 50px;
    font-size: 1.1em;
    border: none;
    padding: 0px;
}