/*
http://paletton.com/#uid=13p0u0k8fSD0d+Z3XYycEJAh2xY
*/

/* core css */
body {
    background-color: lightblue;
    font-family: 'Open Sans', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    color: #5190A5;
}

.yellowBack { background-color: #FFECBD; }
.pinkBack { background-color: #FFC8BD; }

#content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid black;*/
    font-size: 1.2em;
}

/* font weights */
.light  { font-weight: 300; }
.medium { font-weight: 400; }
.chubby { font-weight: 600; }
.heavy  { font-weight: 700; }
.omoi   { font-weight: 800; }

/* font sizes */
.tiny   { font-size: 0.5em; }
.small  { font-size: 0.8em; }
.big    { font-size: 1.3em; }
.ooki   { font-size: 1.7em; }
.CGL   { font-size: 2.5em; }
.TTGL   { font-size: 4em; }

/* font style */
.italic { font-style: italic; }
.emph { font-style: italic; color: #5190A5; font-weight: 600; font-size: 1.1em; }

/* built in h */
h1 { font-weight: 300; font-size: 4em; margin: 0px; padding-left: 2%; }

/* admin page */
.admin > #content {
    width: 1140px;
}

.sgBox {
    vertical-align: top;
	width: 30%;
    max-width: 30%;
    display: inline-block;
    padding: 1.5%;
    min-height: 300px;
}

.sgBox .line {
    width: 95%;
    margin: 5px;
}

.leaderTag,
.memberTag {
    background-color: #FFF6E0;
    display: inline-block;
    padding: 3px 6px;
    margin: 3px;
    min-width: 27%;
}

.leaderTag {
    background-color: #DAF0F8;
}

.leaderTag:after,
.memberTag:after {
    content: attr(data-fname);
}

.leaderTag:hover:after,
.memberTag:hover:after {
    content: attr(data-name);
}

.sgAvatar {
    min-height: 80px;
}

/* welcome page */
.oakBlock{
    display: inline-block;
}

#oak {
    display: inline-block;
    width: 188px;
    height: 342px;
    background: url(/images/oak.png) no-repeat right;
    margin: 30px;
}

.backFill{
    padding-top: 15vh;
}

#welcome > .line,
#introduce_yourself > .line ,
#choose_your_smallgroup .line {
    margin: 1% 2%;
    max-width: 550px;
}

.welcome .action {
    margin-top: 30px;
}

.backFill {
    height: 100vh;
    width: 100vw;
}

.backFill::-webkit-scrollbar { 
    display: none; 
}

/* general css */

button.action {
    margin-top: 10px;
    border: none;
    color: #fff;
    background-color: #7EB8CB;
    border-color: #5190A5;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    /*margin-left: 0.5em;*/
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

button.action:hover {
    color: #fff;
    background-color: #5190A5;
    border-color: #7EB8CB;
}

button.action span {
    font-size: 24px;
    vertical-align: top;
}

.textbox {
    font-size: 0.9em;
    background: none;
    border: none;
    border-bottom: 2px solid #5190A5;
    color: #5190A5;
}

.pokeball {
    height: 24px;
    width: 24px;
    display: inline-block;
    text-indent: -9999px;
    background: url(/images/pokemon/poke-ball.svg);
    background-size: 24px 24px;
}



/* Half Screen */
@media (min-width: 600px) and (max-width: 992px ) {
    body {
        background-color: blue;
    }

    #content {
        width: 95%;
    }

    .sgBox {
        width: 45%;
        max-width: 45%;
    }

    .leaderTag,
    .memberTag {
        min-width: 40%;
    }

    .oakBlock,
    #oak {
        display: block;
    }
}

/* Phone */
@media (max-device-width : 800px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 1.5), (max-width: 600px ) {
    body {
        background-color: white;
    }

    #content {
        width: 90%;
        font-size: 1.5em;
    }

    h1 { 
        font-size: 2em;
        font-weight: 400;
    }

    .sgBox {
        width: 100%;
    }

    #welcome h1 {
        font-size: 4em;
    }

    .oakBlock,
    #oak {
        display: block;
    }

    #welcome > .line,
    #introduce_yourself > .line ,
    #choose_your_smallgroup .line {
        max-width: 700px;
    }
}

/* override classes */

.disabled {
    display:none;
}